
  <h1>
    Bienvenu dans la tour des héros!
    <!-- ici j'ai changé l'élément title pas 'heroes.length' pour qu'il affiche le nombre de heros dans le tableau, si l'on rajoute des heros dans le tableau, ce nombre change dynamiquement -->
  </h1>

<!-- <p> -->
    <!-- bonjour {{ name }} -->
    <!-- bonjour {{ name | uppercase }} -->
    <!-- pipe '|' et la proprieté uppercase permet de mettre le name en majuscule -->
<!-- </p> -->

<!-- Les ' [()] '  les crochets font le lien entrez script et template, les parentheses c'est le contraire, elles font le lien entre le template html et le script
ici ngModel est relié a mon script, et mon script est relié a l'élément ngModel (c'est le 2 wave binding)-->
<!-- votre Nom: <input type="text" name="name" id="myName" [(ngModel)]="name"/> -->
<!-- <app-heroes-list></app-heroes-list> la on lui dit, ce qu'il y'a dans cet input, doit correspondre a mon "name" -->
<!-- on veut, afficher l'ensemble de nos heros de mon tableau, nous allons creer notre premiere boucle en angular -->

<!-- en js: for(var el of monTableau) va parcourir la liste des noms de mon tableau-->
<!-- en angular pour parcourir la liste des noms dans mon tableau-->
<!-- <ul>
  <li *ngFor="let hero of heroes"> {{hero}} <span *ngIf="hero === name">(c'est moi!)</span> </li>
  <-- heroes ici est le nom du tableau que l'on a declaré dans app.component.ts
</ul> -->

<!-- on veut que le tableau prenne un nouveau nom de hero, qu'on entrera par un input -->



<router-outlet></router-outlet>
